# .env.sample

# Project
ENV_MODE=development
DEBUG=True

# Django
SECRET_KEY=changeme
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL container
POSTGRES_DB=devdb
POSTGRES_USER=devuser
POSTGRES_PASSWORD=changeme

# Django database settings
DB_NAME=devdb
DB_USER=devuser
DB_PASS=changeme
DB_HOST=db
DB_PORT=5432

# Rabit MQ
RABBITMQ_DEFAULT_USER=mquser
RABBITMQ_DEFAULT_PASS=bunnypass123

# Other

CORS_ALLOWED_ORIGINS=http://localhost:5173
CELERY_BROKER_URL=redis://redis:6379/0
OPENAI_API_KEY=your-dev-api-key
